.salesPanel > .header  h3 {
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
}

.header {
  margin: 0;
}

.totais {
  margin-top: 15px;
}

.totais > .row {
  padding: 0.5em 0;
  line-height: 1.5em;
  vertical-align: top;
  border-top: 1px solid #ddd;
  background-color: #435059;
}

.totais > .row:last-child {
    font-weight: 700;
    color: #5cb85c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.botoes {
  margin-top: 15px;
}

.botoes > [class*='col-'] {
  padding: 0;
}

.cupomScrollView {
  height: 400px;
  padding: 0 15px;
}

.cupomItemList {
  min-height: 400px;
  background-color: #253138;
}

.product-details{
  background-color: #e1e2e2;
  color: black;
}

.loading-overlay {
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading-overlay:after {
  content: '';
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.loading-overlay:before {
    content: '';
    display: block;
    position: absolute;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    left: 50%;
    top: 50%;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.5) 1.5em 0 0 0,
                rgba(0, 0, 0, 0.5) 1.1em 1.1em 0 0,
                rgba(0, 0, 0, 0.5) 0 1.5em 0 0,
                rgba(0, 0, 0, 0.5) -1.1em 1.1em 0 0,
                rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
                rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0,
                rgba(0, 0, 0, 0.5) 0 -1.5em 0 0,
                rgba(0, 0, 0, 0.5) 1.1em -1.1em 0 0;
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
